<span class="error_message"><%= flash[:alert] %></span>
<%= form_for @recipe do |f| %>
<%= f.label :name, 'Nome' %>
<%= f.text_field :name %>
<%= f.label :number_people, 'Pessoas:' %>
<%= f.text_field :number_people %>
<%= f.label :time_prepare, 'Tempo de Preparo' %>
<%= f.text_field :time_prepare %>
<%= f.label :difficult, 'Dificuldade' %>
<%= f.select(:difficult, @difficulties.map {|value| [value,value]}, include_blank: 'Selecione')%>
<%= f.label :food_type_id, 'Tipo' %>
<%= f.collection_select :food_type_id, @food_types, :id,:name, include_blank: 'Selecione' %>
<%= f.label :food_preference_id, 'Preferência' %>
<%= f.collection_select :food_preference_id, @food_preferences, :id, :name, include_blank: 'Selecione' %>
<%= f.label :kitchen_id, 'Cozinha' %>
<%= f.collection_select :kitchen_id, @kitchens , :id,:name, include_blank: 'Selecione' %>
<%= f.label :ingredients, 'Ingredientes' %>
<%= f.text_area :ingredients %>
<%= f.label :description, 'Preparo' %>
<%= f.text_area :description %>


<%= f.submit button_label,id:'submit' %>
<% end %>
