<span class="error_message"><%= flash[:alert] %></span>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <%= form_for @recipe do |f| %>
          <p>
            <%= f.label :name, t('recipes.fields.recipe_name') + ':' %>
            <%= f.text_field :name, class:'form-control' %>
          </p>
          <p>
            <%= f.label :number_people, t('recipes.fields.number_people') + ':' %>
            <%= f.text_field :number_people,class:'form-control' %><%= t('recipes.fields.people') %>
          </p>
          <p>
            <%= f.label :time_prepare, t('recipes.fields.time_prepare') + ':' %>
            <%= f.text_field :time_prepare, class:'form-control' %>
          </p>
          <p>
            <%= f.label :difficult, t('recipes.fields.difficult') + ':' %>
            <%= f.select(:difficult, @difficulties.map {|value| [value,value]}, {include_blank: 'Selecione'}, {class: "form-control"})%>
          </p>
          <p>
            <%= f.label :food_type_id, t('recipes.fields.food_type') + ':' %>
            <%= f.collection_select :food_type_id, @food_types, :id,:name, {include_blank: 'Selecione'}, {class: "form-control"} %>
          </p>
          <p>
            <%= f.label :food_preference_id, t('recipes.fields.food_preference') + ':' %>
            <%= f.collection_select :food_preference_id, @food_preferences, :id, :name, {include_blank: 'Selecione'}, {class: "form-control"} %>
          </p>
          <p>
            <%= f.label :kitchen_id, t('recipes.fields.kitchen') + ':' %>
            <%= f.collection_select :kitchen_id, @kitchens , :id,:name,{include_blank: 'Selecione'}, {class: "form-control"} %>
          </p>
          <p>
            <%= f.label :ingredients, t('recipes.fields.ingredients') + ':' %>
            <%= f.text_area :ingredients, class:'form-control' %>
          </p>
          <p>
            <%= f.label :description, t('recipes.fields.description') + ':' %>
            <%= f.text_area :description, class:'form-control' %>
          </p>
          <p>
            <%= f.attachment_field :image %>
          </p>
          <p>
            <%= f.submit button_label,id:'submit' %>
          </p>
        <% end %>

    </div>
    <div class="col-md-3"></div>
  </div>
</div>
