<div class='recipe'>
  <div class='logo'>
    <% if recipe.image != nil %>
    <%=  image_tag(attachment_url(recipe, :image, :fill, 200,200), class:'img-circle') %>
    <% else %>
    <%=  image_tag("cookbook.jpg", height: '200', width: '200', class:'img-circle') %>
    <% end %>
  </div>
  <div class='info'>
    <p> <h1><%= recipe.name %></h1></p>
    <p><%= t('recipes.fields.difficult') %>: <%= recipe.difficult %></p>
    <p><%= t('recipes.fields.food_type') %>: <%= recipe.food_type.name %></p>
    <p><%= t('recipes.fields.food_preference') %>: <%= recipe.food_preference.name %></p>
    <p><%= t('recipes.fields.kitchen') %>: <%= recipe.kitchen.name %></p>
    <p><%= link_to t('recipes.fields.see_more'), recipe_path(recipe), class: "btn btn-success" %></p>
  </div>
</div>
