<span class="notice_message"><%= flash[:notice] %></span>
<p><%= t('recipes.fields.recipe_name') %>: <%= @recipe.name %></p>
<p><%= t('recipes.fields.number_people') %>: <%= @recipe.number_people %> Pessoa(s)</p>
<p><%= t('recipes.fields.time_prepare') %>: <%= @recipe.time_prepare %></p>
<p><%= t('recipes.fields.difficult') %>: <%= @recipe.difficult %></p>
<p><%= t('recipes.fields.food_type') %>: <%= @recipe.food_type.name %></p>
<p><%= t('recipes.fields.food_preference') %>: <%= @recipe.food_preference.name %></p>
<p><%= t('recipes.fields.kitchen') %>: <%= @recipe.kitchen.name %></p>
<p><%= t('recipes.fields.ingredients') %>:</p>  <p><%= @recipe.ingredients %></p>
<p><%= t('recipes.fields.description') %>:</p> <p><%= @recipe.description %></p>
<p><%= t('recipes.fields.user_owner') %>: <%= link_to @recipe.user.first_name, user_path(@recipe.user) %></p>
<p><%= image_tag attachment_url(@recipe, :image, :fill, 300, 300, format: "jpg") %></p>

<%= @recipe.check_destroy(current_user) %>
<%= @recipe.inject_favorite_option(current_user) %>
