<span class="notice_message"><%= flash[:notice] %></span>
<p><%= t('users.fields.first_name') %>: <%= @user.first_name %></p>
<p><%= t('users.fields.last_name') %>: <%= @user.last_name %></p>
<p><%= t('users.fields.email') %>: <%= @user.email %></p>
<p><%= t('users.fields.city') %>: <%= @user.city %></p>
<p><%= t('users.fields.facebook') %>: <%= @user.facebook %></p>
<p><%= t('users.fields.twitter') %>: <%= @user.twitter %></p>

<p><%= t('users.fields.kitchens') %>: </p>
<% @kitchens.each do |kitchen| %>
  <p><%= kitchen.name %></p>
<% end %>

<%= render @user.recipes %>
