<span class="notice_message"><%= flash[:notice] %></span>
<%= carousel_for(@liked_recipes) %>
<section id='recipes'>
  <% @recipes.each do |recipe| %>
  <div class='recipe'>
    <div class='logo'>
      <% if recipe.image != nil %>
      <%=  image_tag(attachment_url(recipe, :image, :fill, 200,200), class:'img-circle') %>
      <% else %>
      <%=  image_tag("cookbook.jpg", height: '200', width: '200', class:'img-circle') %>
      <% end %>
    </div>
    <div class='info'>
      <p> <h1><%= recipe.name %></h1></p>
      <p><%= t('recipes.fields.difficult') %>: <%= recipe.difficult %></p>
      <p><%= t('recipes.fields.food_type') %>: <%= recipe.food_type.name %></p>
      <p><%= t('recipes.fields.food_preference') %>: <%= recipe.food_preference.name %></p>
      <p><%= t('recipes.fields.kitchen') %>: <%= recipe.kitchen.name %></p>
    </div>
  </div>
  <% end %>
</section>
<section>
  <div class="row">
    <div class="col-sm-3">
      <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Sidebar menu</span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#"><%= t('kitchen.filters') %></a></li>
              <% @kitchens.each do |kitchen| %>
                <li><%= link_to kitchen.name, kitchen %></li>
              <% end %>
            </ul>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#"><%= t('food_preference.filters') %></a></li>
              <% @food_preferences.each do |food_preference| %>
                <li><%= link_to food_preference.name, food_preference %></li>
              <% end %>
            </ul>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#"><%= t('food_type.filters') %></a></li>
              <% @food_types.each do |food_type| %>
                <li><%= link_to food_type.name, food_type %></p></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      Main content goes here
    </div>
  </div>
</section>
