

<h2><%= t('users.titles.sign_up') %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :first_name, t('users.fields.first_name') %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name, t('users.fields.last_name') %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :city, t('users.fields.city') %><br />
    <%= f.text_field :city, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :facebook, t('users.fields.facebook') %><br />
    <%= f.url_field :facebook, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :twitter, t('users.fields.twitter') %><br />
    <%= f.url_field :twitter, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email, t('users.fields.email') %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :password, t('users.fields.password') %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %>  <%= t('users.fields.minimum_password') %>)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, t('users.fields.confirm_password') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <%= f.label :food_preferences, t('users.fields.food_preferences') + ':' %>
  <%= f.collection_check_boxes :food_preference_ids, FoodPreference.all, :id, :name do |preference| %>
    <div class="collection-check-box">
      <%= preference.check_box %>
      <%= preference.label %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('users.buttons.sign_up') %>
  </div>
<% end %>

<%= render "users/shared/links" %>
